<div class="container__books">
    <div class="wrapper__button">
        <div class="a">
            <button class="button item" mat-flat-button (click)="addButtonBook()">Add Book</button>
        </div>
        <div class="b">
            <button class="button item" mat-flat-button (click)="generateBooks()">Generate</button>
            <input type="text" placeholder="n" class="input" id="input-number">
        </div>
        <div class="c">
            <button class="button item" mat-flat-button (click)="deleteAllBooks()">Delete</button>
        </div>
    </div>

    <div class="container__books__grid">
        @for (book of books; track book) {
        <div class="book" (click)="edit_book(book)" (dblclick)="deleteBook(book)">
            <h4 class="name">{{book.name}}</h4>
            <h5 class="author">{{book.author}}</h5>
        </div>
        }
    </div>
</div>