<div class="container__registration">
    <div class="container__registration__label">
        Please enter your details below
    </div>
    <div class="container__registration__form">
        <div class="a"> <input type="text" placeholder="Your Name" class="input input-name" id="input-name"></div>
        <div class="b"><input type="text" placeholder="Your Second name" class="input input-second" id="input-second">
        </div>
        <div class="container__registration__form__details__errors">
            <input type="text" placeholder="Email" class="input input-email" id="input-email">
            <div class="email__errors" id="email__errors"></div>
        </div>
        <div class="c"><input type="password" placeholder="Password" class="input input-pasword" id="input-password"
                autocomplete="current-password"></div>
        <div class="d"><input type="date" placeholder="Birthday" class="input input-birthday" id="input-birthday">
        </div>
        <button (click)="onFinish()" class="finish__button item">Finish Registration</button>
    </div>

</div>