<div class="wrapper__flex">
    <app-nav-bar></app-nav-bar>
    <div class="container__main-info__header">
        <h2>Header</h2>
    </div>
    <div class="container__main-info__text">
        <h2>Text</h2>
    </div>
    <div class="container__main-info__footer">
        <h2>Footer</h2>
    </div>
</div>
<div class="container__books">
    <button class="AddButton" mat-flat-button (click)="addButtonBook()">Добавить книгу</button>
    <div class="container__books__grid">
        @for (book of books; track book) {
            <div class="book">
                <h4>{{book.name}}</h4>
                <h5>{{book.author}}</h5>
            </div>
        }
    </div>
</div>
<router-outlet></router-outlet>