<div class="nav__container">
    <div class="nav__container__mail">
        <h4 class="headline">Mail</h4>
        <mat-nav-list>
            @for (link of MailList; track link) {
                <a mat-list-item [activated]="link.id === str" (click)="str = link.id">
                    <span class="material-symbols-outlined">
                        {{link.icon}}
                    </span>
                    <div class="nav_label_text">{{link.label}}</div>
                </a>
            }
        </mat-nav-list>
    </div>
    <div class="nav__container__personal">
        <h4 class="headline headline_special">Personal folders</h4>
        <mat-nav-list>
            @for (link of PersonalList; track link) {
            <a mat-list-item [activated]="link.id === str" (click)="str = link.id">
                <span class="material-symbols-outlined">
                    {{link.icon}}
                </span>
                <div class="nav_label_text">{{link.label}}</div>
            </a>
            }
        </mat-nav-list>
    </div>
</div>