@use "../../../../scss/mixins/typography";
.headline {
    @include typography.headline-small;
    color: var(--md-sys-color-on-surface);
    text-align: center;
}

.support__text {
    @include typography.body-medium;
    color: var(--md-sys-color-on-surface-variant);
}
.action__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.button {
    border: none;
    border-radius: 20px;
    height: 40px;
    background-color: var(--md-sys-color-surface-container-high);
    @include typography.label-large;
    color: var(--md-sys-color-primary);
    padding: 0px 24px 0px 24px;
}
.item {
    position: relative;
    isolation: isolate;
    max-height: 40px;
    &::before {
        content: " ";
        position: absolute;
        z-index: -1;
        background: currentColor;
        inset: 0;
        opacity: var(--state-layer-opacity, 0);
        border-radius: 20px;
    }
    &:hover {
        --state-layer-opacity: 0.25;
    }
}
:host {
    background-color: black !important;
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
    background-color: var(--md-sys-color-surface-container-low) !important;
    --mdc-dialog-container-shape: 28px;
}

::ng-deep .mat-mdc-text-field-wrapper
{
    background-color: var(--md-sys-color-surface-container-highest) !important;
}

.wrapper {
    width: 300px;
    &__form {
        display: flex;
        flex-direction: column;
    }
}