<h1 mat-dialog-title class="headline">Add your book here</h1>
<div mat-dialog-content>

    <form [formGroup]="bookform">

        <mat-form-field>
            <mat-label class="support__text">Name</mat-label>
            <input matInput formControlName="book_name">
        </mat-form-field>

        <br>
        
        <mat-form-field>
            <mat-label class="support__text">Author's first name</mat-label>
            <input matInput formControlName="author_name">
        </mat-form-field>

        <br>

        <mat-form-field>
            <mat-label class="support__text">Author's last name</mat-label>
            <input matInput formControlName="author_sename">
        </mat-form-field>

    </form>
</div>
<div mat-dialog-actions class="action__buttons">
    <button mat-button (click)="onNoClick()" class="button item">Cancel</button>
    <button mat-button (click)="onOK()" [disabled]="bookform.invalid" class="button item">Ok</button>
</div>